#title{
	margin-bottom:"0";
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
 	font-weight: 300;
 	text-transform: uppercase;
}
#contact_details
{
	position:absolute; 
	top:0; 
	right:0; 
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
}
#navigation{
	background-color: #c3f2fd;
	border-radius: 5%;
	font-family:'Montserrat', sans-serif;
}
#logo{
	width:40%;
	height:40%;
	padding-left:10px;
	padding-right:10px;
	border-radius: 90%;
}
#nav-items{
	display: flex;
	justify-content: space-around;
	justify-content: space-between;
	margin-left: -150px;
}
#nav-list{
	padding-right: 175px;
	padding-left:30px;
	font-size: 16px;
}
#description_list{
	padding-left: 20px;
	padding-right:50px;
	font-family: 'Lora' ,serif;
}
/* 3 images on home page styling */
.row {
  display: flex;
  padding-left:90px; 
  padding-right:10px; 
}
/* 3 images on home page styling */
.column {
  flex:30%; /* allows responsive elements within a container to be automatically arranged depending upon screen size. */
  padding: 20px;
}
