#title{
	margin-bottom:"0";
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
 	font-weight: 300;
 	text-transform: uppercase;
}
#contact_details
{
	position:absolute; 
	top:0; 
	right:0; 
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
}
#navigation{
	background-color: #c3f2fd;
	border-radius: 5%;
	font-family: 'Montserrat', sans-serif;

}

#nav-items{
	display: flex;
	justify-content: space-around;
	justify-content: space-between;
	margin-left: -150px;

}
#logo{
	width:40%;
	height:40%;
	padding-left:10px;
	padding-right:10px;
	border-radius: 90%;
}

#nav-list{
	padding-right: 175px;
	padding-left:30px;
	font-size: 16px;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
mark{
	color: black;
	border-radius: 10px;
}